body {
  background-color: #bfbdbd26;
  padding: 0 15px;
}

.cardImg {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
}

.cardImg img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardInfo {
  padding: 1px 10px;
}

.social {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.iconSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconSocial p {
  color: #0c0c0cad;
  font-weight: bold;
}

.btnViewImg {
  padding: 5px 10px;
  background-color: #f6ad55;
  color: white;
}

.btnViewImg:hover {
  background-color: #db8823;
}

.btnLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 5px 0;
}

.btnLinks img {
  cursor: pointer;
}

.footer {
  bottom: 0;
  display: inline-block;
  background-color: rgba(173, 172, 172, 0.685);
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
  margin-left: -15px;
  color: rgb(110, 110, 110);
}
