body {
  background-color: #bfbdbd26;
  padding: 0 15px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs a {
  cursor: pointer;
  margin: 50px 0;
  padding: 0 25px;
  transition: border-color 1s ease-in;
}

.activeTab {
  border-bottom: 2px solid black;
  transition: border-color 1s ease-in;
}

.activeMain {
  display: block;
}

.inactiveMain {
  display: none;
}

.cardImg {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
}

.cardImg img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardInfo {
  padding: 1px 10px;
}

.cardInfo p {
  font-size: 12px;
  color: rgba(90, 90, 89, 0.719);
}

.social {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.iconSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconSocial p {
  color: #0c0c0cad;
  font-weight: bold;
}

.btnViewImg {
  padding: 5px 10px;
  background-color: #f6ad55;
  color: white;
}

.btnViewImg:hover {
  background-color: #db8823;
}

.btnLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 5px 0;
}

.btnLinks img {
  cursor: pointer;
}

.star {
  font-size: 30px;
  color: #888576d9;
  cursor: pointer;
}

.starActive {
  color: #db8823;
}

.star:hover {
  color: #db8823;
}

.footer {
  bottom: 0;
  display: inline-block;
  background-color: rgba(173, 172, 172, 0.685);
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
  margin-left: -15px;
  color: rgb(110, 110, 110);
}

.pag {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #db8823;
  color: white;
  text-align: center;
  line-height: 2.5;
  border-radius: 50%;
  margin-right: 5px;
  font-weight: bold;
}

.notifyFav {
  background-color: rgba(231, 181, 16, 0);
  color: rgba(255, 255, 255, 0);
  display: block;
  position: fixed;
  padding: 25px 15px;
  transition: all 1s linear;
  top: 20%;
  right: 0;
}

.notifyFavHover {
  display: block;
  transition: all 1s linear;
  transform: translateY(150px);
  background-color: rgb(231, 181, 16);
  color: aliceblue;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
